.wrapper {
  min-height: 100%;
  display: flex;
}

.centering {
  display: flex;
  align-items: center;
  justify-content: center;
}

.columnCentering {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form {
  border-right: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
  min-height: 100vh;
  /* max-width: 30%; */
  /* padding-top: 80px; */

  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 100%;
  }
}

.clinivaTitle {
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #faf6f5;
}

.welcomingTilte {
  color: #faf6f5;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0%;
  width: 98px;
}

.title {
  color: light-dark(#69a3e9, #69a3e9);
  font-family: Greycliff CF, var(--mantine-font-family);
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.leftLogin {
  background-color: #69a3e9;
  border-top-right-radius: 48px;
  border-bottom-right-radius: 48px;
  position: relative;
}

.leftLoginBox {
  width: 398px;
  gap: 64px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
